<div class="container">
<h1 style="margin-top: 25px;">Edit an Article</h1>
<%= render partial: 'form' %>
</div>

<script>
  $(document).ready(function () {
    Pleasure.init();
    Layout.init();

  });
  </script>
