<body class="http-error-outside">

	<div class="error-bg error-bg1"></div><!--.error-bg1-->

	<div class="container">
		<div class="row">
			<div class="col-xs-10 col-xs-offset-1 col-md-6 col-lg-6 col-lg-offset-3">
				<div class="error-number">500</div>
				<div class="error-text">
					<p>You tried to access /internal-server-error-page, which have been deleted or never have existed. </p>
					<p>You can use the search box below or go back to <a href="/articles">our homepage</a>.</p>
				</div>

				<div class="input-group">
					<div class="inputer">
						<div class="input-wrapper">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="input-group-btn">
						<button type="button" class="btn btn-default">Search</button>
					</div><!--.input-group-btn-->
				</div><!--.input-group-->

			</div>
		</div><!--.row-->
	</div><!--.container-->
    <script>
	$(document).ready(function () {
		Pleasure.init();
		Layout.init();
	});
	</script>
</body>
